:root {
  --background-primary: #f9f4ef;
  --primary-color: #A3A3A3;
  --secondary-color: #858585;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Geist', sans-serif;
}